@import 'tailwindcss';
.container {
  @apply h-2 bg-(--gray)/20 w-full overflow-hidden;
}

.bar {
  @apply h-full;
}

.animated {
  animation: fillBar 1.5s ease-out forwards;
}

@keyframes fillBar {
  from {
    width: 0;
  }
}
