@import 'tailwindcss';

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateX(1rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.serviceRecord {
  @apply h-full w-full flex flex-col;
  animation: fadeInSlide 0.5s ease-out;
}

.header {
  @apply shrink-0 z-20 bg-black/90 backdrop-blur-md flex items-baseline justify-between mb-6;
  @apply border-b border-[var(--pale-orange)] pb-2 pt-4 mr-4;
}

.title {
  @apply text-4xl font-bold text-[var(--pale-orange)] uppercase;
}

.label {
  @apply font-mono text-[var(--pale-orange)];
}

.content {
  @apply flex-1 overflow-y-auto overflow-x-hidden pr-4 pb-4;
}
