@import 'tailwindcss';
.input {
  @apply w-full bg-(--tan)/10 border-l-4 border-(--tan) p-3;
  @apply text-(--pale-orange) font-mono;
  @apply focus:outline-none focus:bg-(--tan)/20;
  @apply focus-visible:outline-none;
}

.input:invalid {
  @apply outline-none;
  box-shadow: none;
}

.input.error {
  @apply border-(--red);
}
