@import 'tailwindcss';
.textarea {
  @apply w-full bg-(--green)/10 border-l-4 border-(--green) p-3;
  @apply text-(--pale-orange) font-mono resize-none;
  @apply focus:outline-none focus:bg-(--green)/20;
  @apply focus-visible:outline-none;
}

.textarea:invalid {
  @apply outline-none;
  box-shadow: none;
}

.textarea.error {
  @apply border-(--red);
}
