@import 'tailwindcss';
.field {
  @apply space-y-2;
}

.label {
  @apply text-(--tan) uppercase font-bold text-sm;
}

.required {
  @apply text-(--red) ml-1;
}

.error {
  @apply text-(--red) text-sm font-mono;
}
